<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>

    <resultMap id="commentMap" type="Comment">
        <id property="id" column="id"></id>
        <result property="context" column="context"></result>
        <result property="userId" column="create_date"></result>
        <result property="userId" column="uesr_id"></result>
        <result property="resourceId" column="resource_id"></result>
        <result property="status" column="status"></result>
        <association property="id" column="id"></association>

                     

    </resultMap>

    <select id="findByParam" resultMap="commentMap">
        select c.id 'cId',c.context,c.create_date,
        (select count(1) from t_praise p where p.comment_id=c.id) praiseCount
        from t_comment c
        join t_user u on c.user_id=u.id
        <where>
            <if test="id!=null">
                and ci.id=#{id}
            </if>
            <if test="user.nickname!=null and user.nickname!=''">
                and u.nickname like #{user.nickname} escape '/'
            </if>
            <if test="context!=null and context!=''">
                and c.context like #{context} escape '/'
            </if>
            <if test="1==1">
                and c.status=2
            </if>
        </where>

    </select>
</mapper>