<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 示例Mapper -->
<mapper namespace="com.itany.netClass.dao.UserMapper">

    <!--<select id="selectByLoginName" resultType="userMapper">-->
		<!--select login_name, nickname, password, role, email, login_date, create_date, status-->
		<!--from t_user-->
		<!--where login_name=#{loginName}-->
	<!--</select>-->

	<resultMap type="User" id="userMap">
		<id column="id" property="id"/>
		<result column="login_name" property="loginName"/>
		<result column="nickname" property="nickname"/>
		<result column="password" property="password"/>
		<result column="role" property="role"/>
		<result column="email" property="email"/>
		<result column="loginDate" property="loginDate"/>
		<result column="create_date" property="createDate"/>
		<result column="login_date" property="loginDate"/>
		<result column="status" property="status"/>
		<result column="pointsTotal" property="pointsTotal"/>
		<result column="goldTotal" property="goldTotal"/>
	</resultMap>

	<insert id="insert" parameterType="User">
		insert into t_user
		(login_name, nickname, password, role, email, login_date, create_date, status)
		values
		(#{loginName}, #{nickname}, #{password}, #{role}, #{email}, #{loginDate}, #{createDate}, #{status})
	</insert>


    <select id="selectByLoginName" resultMap="userMap">
		select id,login_name, nickname, password, role, email, login_date, create_date, status
		from t_user
		where login_name=#{loginName}


	</select>
	<select id="selectByEmail" resultMap="userMap">
  	select
  		id,login_name ,email
  	from t_user
  	where
  		email = #{email}
  </select>

	<select id="selectByLoginnameAndPasswordFront" resultMap="userMap">


		select login_name, nickname, password, role, email, login_date, create_date, status
		from t_user
		where login_name=#{loginName}
		and
		password=#{password}

	</select>

	<select id="selectById" resultMap="userMap">
		select login_name, nickname, password, role, email, login_date, create_date, status
		from t_user
		where id=#{id}
	</select>

	<update id="updateUser" parameterType="User">
        update t_user
		<set>
        <if test="nickname!=null">
			nickname=#{nickname},
		</if>
		<if test="password!=null and password!=''">
			password=#{newPassword},
		</if>
		<if test="email!=null">
			email=#{email},
		</if>
        <if test="loginDate!=null">
             login_date=#{loginDate},
		</if>
		</set>
        where login_name=#{loginName}
    </update>
</mapper>
