<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itany.nmms.dao.SequenceDao">

	
	<sql id="seqColumn">
		id,
		name,
		value
	</sql>

	<select id="selectByName" parameterType="string" resultType="sequence">
		select <include refid="seqColumn"></include>
		from sys_sequence
		where name = #{name}
	</select>
	
	<insert id="insertSequence" parameterType="sequence">
		insert into 
		sys_sequence
			(name,value)
		values
			(#{name},#{value})
	</insert>

	<update id="updateValueByName">
		update sys_sequence
		set value = #{1}
		where name = #{0}
	</update>

</mapper>
