<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.EmpDao">

    <insert id="insert" parameterType="Emp">
        insert into t_emp
        (name,salary,dept_id) values(#{name},#{salary},#{dept.id})
    </insert>
</mapper>